In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('RDdata.csv', index_col=0)

In [3]:
data.head()

,RD (mn),ROA,Dividend (mn),Size (mn),BOA,SUB (mn),SCD,Asset 2018 (mn),Asset 2019 (mn),Growth
000034.SZ,147.643269,0.048630,137.240743,12983.298110,8,48.995375,0.5619,25985.45195,29420.902440,0.132207
000066.SZ,966.755961,0.077316,0.000000,45562.512740,9,527.135663,0.4992,16002.22327,21670.712650,0.354231
000158.SZ,255.693663,0.026854,0.000000,10902.566040,11,301.764597,0.5411,14142.74502,14156.415880,0.000967
000555.SZ,514.001678,0.047915,37.844870,14371.346650,9,38.356416,0.6313,10696.30621,10755.502030,0.005534
000606.SZ,16.837276,-0.277434,0.000000,4250.186409,7,7.550102,0.5249,4166.37529,2783.863354,-0.331826

In [4]:
data.describe()

,RD (mn),ROA,Dividend (mn),Size (mn),BOA,SUB (mn),SCD,Asset 2018 (mn),Asset 2019 (mn),Growth
count,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000
mean,278.840760,0.049875,41.793471,12090.271432,8.045455,29.629768,0.531158,4482.537499,5107.960420,0.318208
std,459.923867,0.097964,84.521571,17588.955321,1.312993,75.382297,0.140843,7224.114118,8223.232738,0.720471
min,1.399307,-0.497394,0.000000,1633.305600,5.000000,0.000000,0.193000,190.971588,410.692699,-0.511268
25%,52.907175,0.030645,0.000000,3812.666310,7.000000,5.235299,0.416200,1082.688140,1328.656376,-0.003915
50%,117.997563,0.054023,15.968339,6383.079934,8.000000,10.680589,0.548250,2158.350957,2541.694057,0.097864
75%,295.770230,0.083858,45.306326,11590.700343,9.000000,25.315683,0.632425,4738.038791,5537.585484,0.268611
max,3941.072324,0.474593,646.048122,159022.937000,12.000000,789.063861,0.880200,63609.640360,61947.887390,5.066660